[package]
name = "lyric_finder"
version = "0.1.0"
edition = "2021"
license = "MIT"
description = "A lyric finder library"
authors = ["Thang Pham <phamducthang1234@gmail.com>"]
repository = "https://github.com/aome510/spotify-player/lyric_finder"
keywords = ["lyric", "song", "track"]

[dependencies]
anyhow = "1.0.57"
reqwest = { version = "0.11.9", features = ["json"] }
serde = { version = "1.0.136", features = ["derive"] }
html5ever = "0.25.2"
markup5ever_rcdom = "0.1.0"

[dev-dependencies]
tokio = { version = "1.17.0", features = ["rt", "rt-multi-thread", "macros"] }

[[example]]
name = "lyric-finder"
path = "examples/lyric-finder.rs"
