[package]
name = "spotify_player"
version = "0.15.0"
authors = ["Thang Pham <phamducthang1234@gmail.com>"]
edition = "2021"
license = "MIT"
description = "A command driven spotify player"
repository = "https://github.com/aome510/spotify-player"
keywords = ["spotify", "tui", "player"]
readme = "../README.md"

[dependencies]
anyhow = "1.0.71"
clap = { version = "4.3.0", features = ["derive", "string"] }
config_parser2 = "0.1.4"
crossterm = "0.26.1"
dirs-next = "2.0.0"
librespot-connect = { version = "0.4.2", optional = true }
librespot-playback = { version = "0.4.2", optional = true }
librespot-core = "0.4.2"
log = "0.4.18"
chrono = "0.4.26"
reqwest = { version = "0.11.18", features = ["json"] }
rpassword = "7.2.0"
rspotify = "0.11.7"
serde = { version = "1.0.163", features = ["derive"] }
tokio = { version = "1.28.2", features = ["rt", "rt-multi-thread", "macros", "time"] }
toml = "0.7.4"
ratatui = "0.21.0"
unicode-width = "0.1.10"
rand = "0.8.5"
maybe-async = "0.2.7"
async-trait = "0.1.68"
parking_lot = "0.12.1"
tracing = "0.1.37"
tracing-subscriber = { version = "0.3.17", features = ["env-filter"] }
lyric_finder = { version = "0.1.4", path = "../lyric_finder" , optional = true }
backtrace = "0.3.67"
souvlaki = { version = "0.6.0", optional = true }
winit = { version = "0.28.6", optional = true }
viuer = { version = "0.6.2", optional = true }
image = { version = "0.24.6", optional = true }
notify-rust = { version = "4.8.0", optional = true, default_features = false, features = ["d"] }
flume = "0.10.14"
serde_json = "1.0.96"
once_cell = "1.17.2"
regex = "1.8.3"
daemonize = { version = "0.5.0", optional = true }
ttl_cache = "0.5.1"

[features]
alsa-backend = ["streaming", "librespot-playback/alsa-backend"]
pulseaudio-backend = ["streaming", "librespot-playback/pulseaudio-backend"]
rodio-backend = ["streaming", "librespot-playback/rodio-backend"]
portaudio-backend = ["streaming", "librespot-playback/portaudio-backend"]
jackaudio-backend = ["streaming", "librespot-playback/jackaudio-backend"]
rodiojack-backend = ["streaming", "librespot-playback/rodiojack-backend"]
sdl-backend = ["streaming", "librespot-playback/sdl-backend"]
gstreamer-backend = ["streaming", "librespot-playback/gstreamer-backend"]
streaming = ["librespot-playback", "librespot-connect"]
lyric-finder = ["lyric_finder"]
media-control = ["souvlaki", "winit"]
image = ["viuer", "dep:image"]
sixel = ["image", "viuer/sixel"]
notify = ["notify-rust"]
daemon = ["daemonize"]

default = ["rodio-backend", "media-control"]
