[package]
name = "spotify_player"
version = "0.9.0"
authors = ["Thang Pham <phamducthang1234@gmail.com>"]
edition = "2021"
license = "MIT"
description = "A command driven spotify player"
repository = "https://github.com/aome510/spotify-player"
keywords = ["spotify", "tui", "player"]
readme = "../README.md"

[dependencies]
anyhow = "1.0.57"
clap = "3.2.5"
config_parser2 = "0.1.3"
crossterm = "0.23.2"
dirs-next = "2.0.0"
librespot-connect = { version = "0.4.1", optional = true }
librespot-playback = { version = "0.4.1", optional = true }
librespot-core = "0.4.1"
log = "0.4.17"
lru = "0.7.7"
chrono = "0.4.19"
reqwest = { version = "0.11.11", features = ["json"] }
rpassword = "6.0.1"
rspotify = "0.11.5"
serde = { version = "1.0.137", features = ["derive"] }
tokio = { version = "1.19.2", features = ["rt", "rt-multi-thread", "macros", "time"] }
toml = "0.5.9"
tui = "0.18.0"
unicode-width = "0.1.9"
rand = "0.8.5"
maybe-async = "0.2.6"
async-trait = "0.1.56"
parking_lot = "0.12.1"
tracing = "0.1.35"
tracing-subscriber = { version = "0.3.11", features = ["env-filter"] }
lyric_finder = { version = "0.1.2", path = "../lyric_finder" , optional = true }
backtrace = "0.3.65"
souvlaki = { version = "0.5.1", optional = true }
winit = { version = "0.26.1", optional = true }
viuer = { version = "0.6.1", optional = true }
image = { version = "0.24.2", optional = true }
flume = "0.10.13"

[features]
alsa-backend = ["streaming", "librespot-playback/alsa-backend"]
pulseaudio-backend = ["streaming", "librespot-playback/pulseaudio-backend"]
rodio-backend = ["streaming", "librespot-playback/rodio-backend"]
portaudio-backend = ["streaming", "librespot-playback/portaudio-backend"]
jackaudio-backend = ["streaming", "librespot-playback/jackaudio-backend"]
rodiojack-backend = ["streaming", "librespot-playback/rodiojack-backend"]
sdl-backend = ["streaming", "librespot-playback/sdl-backend"]
gstreamer-backend = ["streaming", "librespot-playback/gstreamer-backend"]
streaming = ["librespot-playback", "librespot-connect"]
lyric-finder = ["lyric_finder"]
media-control = ["souvlaki", "winit"]
image = ["viuer", "dep:image"]

default = ["rodio-backend", "media-control"]
