[package]
name = "spotify_player"
version = "0.16.2"
authors = ["Thang Pham <phamducthang1234@gmail.com>"]
edition = "2021"
license = "MIT"
description = "A Spotify player in the terminal with full feature parity"
repository = "https://github.com/aome510/spotify-player"
keywords = ["spotify", "tui", "player"]
readme = "../README.md"

[dependencies]
anyhow = "1.0.75"
clap = { version = "4.4.11", features = ["derive", "string"] }
config_parser2 = "0.1.5"
crossterm = "0.27.0"
dirs-next = "2.0.0"
librespot-connect = { version = "0.4.2", optional = true }
librespot-playback = { version = "0.4.2", optional = true }
librespot-core = "0.4.2"
log = "0.4.20"
chrono = "0.4.31"
reqwest = { version = "0.11.22", features = ["json"] }
rpassword = "7.3.1"
rspotify = "0.12.0"
serde = { version = "1.0.193", features = ["derive"] }
tokio = { version = "1.35.0", features = ["rt", "rt-multi-thread", "macros", "time"] }
toml = "0.8.8"
tui = { package = "ratatui", version = "0.24.0" }
rand = "0.8.5"
maybe-async = "0.2.7"
async-trait = "0.1.74"
parking_lot = "0.12.1"
tracing = "0.1.40"
tracing-subscriber = { version = "0.3.18", features = ["env-filter"] }
lyric_finder = { version = "0.1.4", path = "../lyric_finder" , optional = true }
backtrace = "0.3.69"
souvlaki = { version = "0.6.1", optional = true }
winit = { version = "0.29.4", optional = true }
viuer = { version = "0.7.1", optional = true }
image = { version = "0.24.7", optional = true }
notify-rust = { version = "4.10.0", optional = true, default-features = false, features = ["d"] }
flume = "0.11.0"
serde_json = "1.0.108"
once_cell = "1.19.0"
regex = "1.10.2"
daemonize = { version = "0.5.0", optional = true }
ttl_cache = "0.5.1"
copypasta = { version = "0.10.0", optional = true }
clap_complete = "4.4.4"

[target.'cfg(target_os = "windows")'.dependencies.windows]
version = "0.44.0"
features = [
	"Win32_Foundation",
	"Win32_Graphics_Gdi",
	"Win32_System_LibraryLoader",
	"Win32_UI_WindowsAndMessaging"
]
optional = true

[features]
alsa-backend = ["streaming", "librespot-playback/alsa-backend"]
pulseaudio-backend = ["streaming", "librespot-playback/pulseaudio-backend"]
rodio-backend = ["streaming", "librespot-playback/rodio-backend"]
portaudio-backend = ["streaming", "librespot-playback/portaudio-backend"]
jackaudio-backend = ["streaming", "librespot-playback/jackaudio-backend"]
rodiojack-backend = ["streaming", "librespot-playback/rodiojack-backend"]
sdl-backend = ["streaming", "librespot-playback/sdl-backend"]
gstreamer-backend = ["streaming", "librespot-playback/gstreamer-backend"]
streaming = ["librespot-playback", "librespot-connect"]
lyric-finder = ["lyric_finder"]
media-control = ["souvlaki", "winit", "windows"]
image = ["viuer", "dep:image"]
sixel = ["image", "viuer/sixel"]
notify = ["notify-rust"]
clipboard = ["copypasta"]
daemon = ["daemonize"]

default = ["rodio-backend", "media-control", "clipboard"]
