[package]
name = "spotify_player"
version = "0.18.2"
authors = ["Thang Pham <phamducthang1234@gmail.com>"]
edition = "2021"
license = "MIT"
description = "A Spotify player in the terminal with full feature parity"
repository = "https://github.com/aome510/spotify-player"
keywords = ["spotify", "tui", "player"]
readme = "../README.md"

[dependencies]
anyhow = "1.0.86"
clap = { version = "4.5.4", features = ["derive", "string"] }
config_parser2 = "0.1.5"
crossterm = "0.27.0"
dirs-next = "2.0.0"
librespot-connect = { version = "0.4.2", optional = true }
librespot-playback = { version = "0.4.2", optional = true }
librespot-core = "0.4.2"
log = "0.4.21"
chrono = "0.4.37"
reqwest = { version = "0.12.2", features = ["json"] }
rpassword = "7.3.1"
rspotify = "0.13.0"
serde = { version = "1.0.202", features = ["derive"] }
tokio = { version = "1.37.0", features = ["rt", "rt-multi-thread", "macros", "time"] }
toml = "0.8.13"
tui = { package = "ratatui", version = "0.26.3" }
rand = "0.8.5"
maybe-async = "0.2.10"
async-trait = "0.1.79"
parking_lot = "0.12.3"
tracing = "0.1.40"
tracing-subscriber = { version = "0.3.18", features = ["env-filter"] }
lyric_finder = { version = "0.1.6", path = "../lyric_finder" , optional = true }
backtrace = "0.3.71"
souvlaki = { version = "0.7.3", optional = true }
viuer = { version = "0.7.1", optional = true }
image = { version = "0.24.9", optional = true }
notify-rust = { version = "4.10.0", optional = true, default-features = false, features = ["d"] }
flume = "0.11.0"
serde_json = "1.0.117"
once_cell = "1.19.0"
regex = "1.10.4"
daemonize = { version = "0.5.0", optional = true }
ttl_cache = "0.5.1"
clap_complete = "4.5.1"
which = "6.0.1"
fuzzy-matcher = { version = "0.3.7", optional = true }

[target.'cfg(any(target_os = "windows", target_os = "macos"))'.dependencies.winit]
version = "0.30.0"
optional = true

[target.'cfg(target_os = "windows")'.dependencies]
clipboard-win = "5.3.0"

[target.'cfg(target_os = "windows")'.dependencies.windows]
version = "0.56.0"
features = [
	"Win32_Foundation",
	"Win32_Graphics_Gdi",
	"Win32_System_LibraryLoader",
	"Win32_UI_WindowsAndMessaging"
]
optional = true

[features]
alsa-backend = ["streaming", "librespot-playback/alsa-backend"]
pulseaudio-backend = ["streaming", "librespot-playback/pulseaudio-backend"]
rodio-backend = ["streaming", "librespot-playback/rodio-backend"]
portaudio-backend = ["streaming", "librespot-playback/portaudio-backend"]
jackaudio-backend = ["streaming", "librespot-playback/jackaudio-backend"]
rodiojack-backend = ["streaming", "librespot-playback/rodiojack-backend"]
sdl-backend = ["streaming", "librespot-playback/sdl-backend"]
gstreamer-backend = ["streaming", "librespot-playback/gstreamer-backend"]
streaming = ["librespot-playback", "librespot-connect"]
lyric-finder = ["lyric_finder"]
media-control = ["souvlaki", "winit", "windows"]
image = ["viuer", "dep:image"]
sixel = ["image", "viuer/sixel"]
notify = ["notify-rust"]
daemon = ["daemonize", "streaming"]
fzf = ["fuzzy-matcher"]

default = ["rodio-backend", "media-control"]

[package.metadata.binstall]
pkg-url = "{ repo }/releases/download/v{ version }/{ name }_{ target }{ archive-suffix }"

