[package]
name = "spotify_player"
version = "0.6.0"
authors = ["Thang Pham <phamducthang1234@gmail.com>"]
edition = "2021"
license = "MIT"
description = "A command driven spotify player"
repository = "https://github.com/aome510/spotify-player"
keywords = ["spotify", "tui", "player"]
readme = "../README.md"

[dependencies]
anyhow = "1.0.55"
clap = "3.1.5"
config_parser2 = "0.1.2"
crossterm = { version = "0.23.0", features = ["event-stream"] }
dirs-next = "2.0.0"
librespot-connect = { version = "0.3.1", optional = true }
librespot-playback = { version = "0.3.1", optional = true }
librespot-core = "0.3.1"
log = "0.4.14"
lru = "0.7.3"
chrono = "0.4.19"
reqwest = { version = "0.11.9", features = ["json"] }
rpassword = "5.0.1"
rspotify = "0.11.3"
serde = { version = "1.0.136", features = ["derive"] }
tokio = { version = "1.17.0", features = ["rt", "rt-multi-thread", "macros"] }
tokio-stream = "0.1.8"
toml = "0.5.8"
tui = "0.17.0"
unicode-width = "0.1.9"
rand = "0.8.5"
maybe-async = "0.2.6"
async-trait = "0.1.52"
parking_lot = "0.12.0"
tracing = "0.1.31"
tracing-subscriber = { version = "0.3.9", features = ["env-filter"] }

[features]
alsa-backend = ["streaming", "librespot-playback/alsa-backend"]
pulseaudio-backend = ["streaming", "librespot-playback/pulseaudio-backend"]
rodio-backend = ["streaming", "librespot-playback/rodio-backend"]
portaudio-backend = ["streaming", "librespot-playback/portaudio-backend"]
jackaudio-backend = ["streaming", "librespot-playback/jackaudio-backend"]
rodiojack-backend = ["streaming", "librespot-playback/rodiojack-backend"]
sdl-backend = ["streaming", "librespot-playback/sdl-backend"]
gstreamer-backend = ["streaming", "librespot-playback/gstreamer-backend"]
streaming = ["librespot-playback", "librespot-connect"]

default = ["rodio-backend"]
